<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style_base.css">

    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>

    
    <div class="container">
      <img src="/static/logo.png">
      <form id="myForm">
        <input type="text" placeholder="Copy & Paste Link Here" id="inputData" name="inputData" required>
        <button type="submit">Submit</button>
      </form>
    </div>
    <script>
      document.getElementById("myForm").addEventListener("submit", function(event) {
        // Prevent the default form submission
        event.preventDefault();
  
        // Get the data from the input field
        var inputData = document.getElementById("inputData").value;
  
        // Check if the data is not empty
        if (inputData.trim() !== "") {
          // Send a POST request to the backend API
          fetch('/api/get_sentiments?url='+inputData, {
            method: 'GET'
          })
          .then(response => {
            if (response.ok) {
              // Parse the JSON response
              window.location.href = "/result"
            } else {
              throw new Error('Failed to submit form. Please try again.');
            }
          })
          // .then(data => {
          //   // Redirect to another HTML page with the response data as a query parameter
          //   // console.log(data.emotions_data);
          //   // console.log(data.sentiments_data);
          //   fetch('/result', {
          //   method: 'GET',
          //   body: data
          // })
          // })
          .catch(error => {
            console.error('Error:', error);
            alert(error.message);
          });
        } else {
          // Display an alert if the data is empty
          alert("Please enter valid data");
        }
      });
    </script>
  
  </body>


</html>